@{
    ViewBag.Title = "Home Page";
}
</br>
</br>
</br>


@*<div class="jumbotron">*@
<h1><center>Welcome to Budget Pro version 2</center></h1>
@*<p><center><img src="http://i.kinja-img.com/gawker-media/image/upload/s--QC0qGoD0--/1853otzwre196jpg.jpg" alt="Flowers" width="50%" height="50%" /><center></p>*@
@*</div>*@
<p><center><img src="http://www.businesspundit.com/wp-content/uploads/2011/01/High-Interest-Savings-Account.jpg" alt="Flowers" width="50%" height="50%" /><center></p>

<center><button type="button" onclick="alert('Welcome to the Demo')" class="btn btn-primary">Demo Login</button></center>
<div class="col-md-4">

</div>
<div class="row">
    <div class="col-md-4">
        @*<h2>Getting started</h2>*@


    </div>
    <div class="col-md-4">
        @*<h2>Get more libraries</h2>*@

    </div>
    <div class="col-md-4">
        @*<h2>Web Hosting</h2>*@

    </div>
</div>

